.header {
  height: 150px;
  display: grid;
  grid-template-columns: 150px 1fr;
  background: rgba(0, 0, 0, 0.4);
  &__logo {
    max-height: 150px;
  }
  &__navigation {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
