@import "./component/validation/validation.scss";
@import "./component/addMainContent/mainContent.scss";
@import "./component/addHeader/header.scss";
@import "./component/addFooter/footer.scss";

body {
  margin: 0 auto;
  width: 3012px;
  height: 1784px;
  background-image: url(../src/images/background.jpg);
}

#root {
}

@media (max-width: 1920px) {
  body {
    width: 1920px;
  }
}
