.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: bisque;
}

.header__navigation__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: darkgray;
}
