@import "./component/validation/validation.scss";
* {
  max-width: 1800px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: bisque;
  &__navigation {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
// main content
.content {
  height: 700px;
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 1fr 5fr;
  background-color: darkgray;
  &__aside {
    grid-area: aside;
  }

  &__list {
    grid-area: content;
    background-color: aquamarine;
  }
}

.footer {
  height: 150px;
  background-color: rosybrown;
}
